#t1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
.movie-poster {
  width: 150px;
  height: auto; /* keep aspect ratio */
  border-radius: 8px; /* rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
